name: Set automerge on PR opening

on:
    workflow_call:

jobs:
    set-pr-automerge:
        runs-on: ubuntu-latest
        name: Set automerge on PRs opened on tracking branch
        steps:
            - uses: actions/checkout@v3
            - name: Set automerge
              env:
                  GITHUB_TOKEN: ${{ github.token }}
              run: |
                  gh pr merge ${{ github.event.number }} --auto -d -r || gh pr merge ${{ github.event.number }} --auto -d -s
