name: Require PR Label

on:
  workflow_call:

permissions: 
  contents: read
  
jobs:
  require-label:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Check for required label
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
            LABELS: ${{ toJSON(github.event.pull_request.labels.*.name)}}
        with:
          script: |
            const labels = JSON.parse(process.env.LABELS);
            const requiredLabels = ['fix', 'feature', 'maintenance', 'not sure', 'dependencies'];
            const labelNames = labels.map(label => label.toLowerCase());
            const hasRequired = labelNames.some(label => requiredLabels.includes(label));
            if (!hasRequired) {
              core.setFailed(`Pull requests must include a Core4 label: ${requiredLabels.join(', ')}.`);
            }
